<div class="backgroud">
    <div class="container">
      <div class="header">
        <h2>Iniciar sesión</h2>
        <p>Por favor ingrese sus datos</p>
      </div>
      <div class="taps">
        <mat-tab-group class="tap__group" dynamicHeight animationDuration="0ms">
          <mat-tab [disabled]="tabIsDisable" label="Estudiante"  class="tap__item" >
            <form action="#" [formGroup]="loginFormStudent" class="form" (ngSubmit)="onSubmitStudent()">
              <mat-form-field class="form__group">
                <mat-label>Correo electrónico</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Ingrese su correo electrónico"
                  required
                  formControlName="email"
                  name="email"
                  id="email"
                />
                @if(loginFormStudent.controls['email'].hasError('required') || loginFormStudent.controls['email'].hasError('whitespace')){
                  <mat-error>Este campo es obligatorio</mat-error>
                }
                @if(loginFormStudent.controls['email'].hasError('pattern')){
                  <mat-error>Ingrese un correo electrónico válido</mat-error>
                }
              </mat-form-field>
              <mat-form-field class="form__group">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  placeholder="Ingrese su contraseña"
                  required
                  formControlName="password"
                />
                @if(loginFormStudent.controls['password'].hasError('required') || loginFormStudent.controls['password'].hasError('whitespace')){
                  <mat-error>Este campo es obligatorio</mat-error>
                }
                @if (loginFormStudent.controls['password'].hasError('minlength') || loginFormStudent.controls['password'].hasError('maxlength')) {
                  <mat-error>Ingrese entre 8 y 20 caracteres</mat-error>
                }
              </mat-form-field>
              
              <p class="forget__password" routerLink="/auth/recover" > Olvide mi contraseña</p>
              <button type="submit"
                mat-flat-button
                class="form__button"
                [disabled]=" (loginFormStudent.touched && !loginFormStudent.valid) || tabIsDisable "
               >
               @if(statusFormStudent!=='loading'){
                    <span>Iniciar sesión</span>
               }
               @if(statusFormStudent==='loading'){
                    <span class="loader"></span>
               }
              </button> 
            </form>
          </mat-tab>

          <mat-tab label="Profesor" class="tap__item" [disabled]="tabIsDisable">
            <form action="#" [formGroup]="loginFormTeacher" class="form" (ngSubmit)="onSubmitTeacher()">
              <mat-form-field class="form__group">
                <mat-label>Correo electrónico</mat-label>
                <input
                  matInput
                  type="email"
                  placeholder="Ingrese su correo electrónico"
                  required
                  formControlName="email"
                  name="email"
                  id="email"
                />
                @if(loginFormTeacher.controls['email'].hasError('required')){
                  <mat-error>Este campo es obligatorio</mat-error>
                }
                @if(loginFormTeacher.controls['email'].hasError('pattern')){
                  <mat-error>Ingrese un correo electrónico válido</mat-error>
                }
              </mat-form-field>
              <mat-form-field class="form__group">
                <mat-label>Contraseña</mat-label>
                <input
                  matInput
                  type="password"
                  placeholder="Ingrese su contraseña"
                  required
                  formControlName="password"
                />
                 @if(loginFormTeacher.controls['password'].hasError('required')){
                  <mat-error>Este campo es obligatorio</mat-error>
                }
                @if (loginFormTeacher.controls['password'].hasError('minlength') || loginFormTeacher.controls['password'].hasError('maxlength')) {
                  <mat-error>Ingrese entre 8 y 20 caracteres</mat-error>
                }
              </mat-form-field>
              <p class="forget__password" routerLink="/auth/recover" > Olvide mi contraseña</p>
              <button type="submit"
                mat-flat-button
                class="form__button"
                [disabled]=" (loginFormTeacher.touched && !loginFormTeacher.valid) || tabIsDisable "
               >
               @if(statusFormTeacher!=='loading'){
                    <span>Iniciar sesión</span>
               }
               @if(statusFormTeacher==='loading'){
                    <span class="loader"></span>
               }
              </button> 
            </form>
          </mat-tab>
        </mat-tab-group>
      </div>
      <div class="form__or">
        <hr> <span> O </span> <hr>
      </div>
       <p class="register">¿No tienes una cuenta? <span routerLink="/auth/register">Registrarse</span></p>
    </div>
</div>
