<div class="home__container">
    <h5 class="title" >Bienvenido, {{ teacher$()?.name || '...' }}!</h5>
    @if (!teacher$()) {
        <p class="text">
           Cargando...
        </p>
    } @else if(courses$().length === 0) {    
        <p class="text">No tienes cursos creados.</p> 

    } @else if (courses$().length > 0) { 
        <div class="courses">
            @for (course of courses$(); track $index) {
                <div class="course">
                    <h6 class="course__name" >{{ course.name }}</h6>
                    <button class="course__button" mat-stroked-button [routerLink]="'/admin/sesiones/'.concat(course.courseId)">
                        Ver sesiones
                        <mat-icon>arrow_forward</mat-icon>
                    </button>
                </div>
            }
            
        </div>
    }

</div>
