
<mat-card class="card" appearance="raised">
  <mat-card-header>
    <mat-card-title>Ausentes en los ultimos 10 minutos </mat-card-title>
  </mat-card-header>

  <mat-card-content>
    <canvas
      baseChart
      [data]="pieChartData()"
      type="pie"
      [options]="pieChartOptions"
    ></canvas>
  </mat-card-content>

  <mat-card-actions>
    <button mat-button (click)="showAbsentStudents()" >
      <mat-icon>visibility</mat-icon>
      Ver detalles
    </button>
  </mat-card-actions>
</mat-card>
 