:root{
    --primary-color-500:hsl(210, 100%, 37%);
    --primary-color-50:#E6EFF8;
    --primary-color-hovered:hsl(212, 100%, 31%);
    --color-grey-500: #464B53;
}
*{
    box-sizing: border-box;
}
html{
    
    scroll-behavior: smooth;
}
html, body { 
    height: 100%; 
    
}
body { 
    padding: 0;
    margin: 0;
    font-family: Roboto, sans-serif; 
    background-color: var(--primary-color-50);
}
h2,h1,h3{
    text-align: center;
    margin: 0;
    padding: 0;
}
p{
    font-size: 14px;
    margin: 0;
    padding: 0;
}