<div class="page">
    <div class="page__header">
        <mat-form-field>
            <mat-label>Codigo de la sesión</mat-label>
            <input matInput required type="text" placeholder="Codigo de la sesion">
        </mat-form-field>
        <div class="page__group">
            <span>Fecha de inicio:</span>
            <p> 12/13/2025 12:00:00</p>
        </div>
        <div class="page__group">
            <span>Curso:</span>
            <p> calculo</p>
        </div>
        <div class="page__group">
            <span>Tiempo transcurrido:</span>
            <p> 20 minutos desde el inicio de la sesion</p>
        </div>
        
        <button mat-flat-button>
                Actualizar
                <mat-icon>update</mat-icon>
        </button>
        
    </div>
    <div class="page__content" >
         <div class="page__card">
            
             <teacher-multitasking-chart></teacher-multitasking-chart>
           
         </div>
         <div class="page__card">
            
             <teacher-somnolence-chart></teacher-somnolence-chart>
            
         </div>
         <div class="page__card">
            
             <teacher-absence-chart [ausentes]="12" [noAusentes]="9"></teacher-absence-chart>
             
         </div>
         <div class="page__card">
             
             <teacher-attention-chart [nivelesAtencion]="nivelesAtencion" ></teacher-attention-chart>
             
         </div>
    </div>
</div>