<div class="page">
    <div class="page__header">
        <mat-form-field class="formfield-input">
            <mat-label>Código de la sesión</mat-label>
            <input matInput required type="text" placeholder="Código de la sesión" class="input" [formControl]="sessionId" >
            @if(sessionId.hasError('required') || sessionId.hasError('whitespace')){
                <mat-error>Este campo es obligatorio</mat-error>
            }
        </mat-form-field>
        @if (conected) {
            <div class="page__group">
            <span>Fecha y hora de inicio:</span>
            <p> {{ session()?.date }}  {{ session()?.startHours }} </p>
            </div>
            <div class="page__group">
                <span>Curso:</span>
                <p> {{ session()?.course?.name }}  </p>
            </div>
            <!-- <div class="page__group">
                <span>Tiempo transcurrido:</span>
                <p> 20 minutos desde el inicio de la sesion</p>
            </div> -->
            
            <button mat-flat-button (click)="updateCharts()">
                    Actualizar
                    <mat-icon>update</mat-icon>
            </button>
        }
        @if(!conected){
            <button mat-flat-button [disabled]="sessionId.invalid "  (click)="conectarSesion()" >Conectar</button>
        }
        
    </div>
    <div class="page__content" >
         @if (conected) {
            <div class="page__card">
                @if (phoneRequest==='loading') {
                    <span class="loader"></span>
                }
                @if (phoneRequest==='failed') {
                    <mat-error>{{ messageErrorPhoneUse }}</mat-error>
                }
                @if (phoneRequest==='success' ) {
                    <teacher-multitasking-chart [phoneUseData]="phoneUseData" [session]="session"  ></teacher-multitasking-chart>
                }

            </div>
            <div class="page__card">
                @if (somnolenceRequest==='loading') {
                    <span class="loader"></span>
                }
                @if (somnolenceRequest==='failed') {
                    <mat-error>{{ messageErrorSomn }}</mat-error>
                }
                @if (somnolenceRequest==='success' ) {
                    <teacher-somnolence-chart [somnolenceData]="somnolenceData" [session]="session"  ></teacher-somnolence-chart>
                }
                
            </div>
            <div class="page__card">
                @if (absentRequest==='loading') {
                    <span class="loader"></span>
                }
                @if (absentRequest==='failed') {
                    <mat-error>{{ messageErrorAbsent }}</mat-error>
                }
                @if (absentRequest==='success' ) {
                    <teacher-absence-chart [absentData]="absenceInfo" [session]="session"  ></teacher-absence-chart>
                }
            </div>
            <div class="page__card">
                  <div class="page__card">
                @if (attenionAvrgRequest==='loading') {
                    <span class="loader"></span>
                }
                @if (attenionAvrgRequest==='failed') {
                    <mat-error>{{ messageErrorAvrg }}</mat-error>
                }
                @if (attenionAvrgRequest==='success' ) {
                     <teacher-attention-chart [attentionData]="attenionAvrgInfo" [session]="session" ></teacher-attention-chart>
                }
            </div>
            </div>
         }@else {
             <p color="warn">Ingrese el cádigo de la sesion</p>
         }
    </div>
</div>